a, a:hover {
  color: #7BF971;
}


/* Back to top button */
.back-to-top {
  background: #7BF971;
  color: #fff;
}


.back-to-top:focus {
  background: #7BF971;
  color: #fff;
}

.back-to-top:hover {
  background: #7BF971;
  color: #fff;
}

.navbar-default {
  background: #7BF971;
}

.form-control:focus {
  border-color: #7BF971;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #7BF971;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #7BF971;
}

.service .carousel-indicators .active {
  background: #7BF971;
}

.btn-theme {
  background: #7BF971;
}

.contact-widget i {
  color: #7BF971;
}
